<!DOCTYPE html>
<html>
<head>
    <title>Exam Already Attempted</title>
</head>
<body>  <center>
        <h1 style="
  text-align: center;
  background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;">
            National Academy of Computer
        </h1>
    </center>
    <h2>Hello {{ username }}</h2>
    <p><strong>You have already attended this exam.</strong></p>
    <a href="/logout">Logout</a>
</body>
</html>
